@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

div {
    margin: 11%;
}

form {
    margin: 1% 30%;
    padding: 2% 8%;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}