.videocontainer {
  position: relative;
  padding-bottom: 56.26%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  bottom: 0px;
  top: 70;
  left: 45;
  width: 25%;
  height: 30%;
}
.video-wrapper {
  width: 640px;
  float:none;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.header {
  background-color: #5680E9;
  padding: 20px;
  text-align: center;
}
h1 {
  text-shadow: 2px 2px 5px #5AB9EA;
  font-family: sans-serif;
  font-style: italic;
}
